*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    overflow-y:scroll;
    scroll-snap-type: y mandatory;
}
.slides{
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #552e2e;
    scroll-snap-align: start;
}

.slides img{
    width: 350px;
}



.slides1{
    background-image: url("images/Img1.png");
    animation: slide1 10s infinite;
}
.slides2{
    background-image: url("images/Img2.png");
    animation: slide2 10s infinite;
}
.slides3{
    background-image: url("images/Img3.png");
    animation: slide3 10s infinite;
}

.slides4{
    background-image: url("images/Img4.png");
    animation: slide4 10s infinite;
}

.slides5{
    background-image: url("images/img5.png");
    animation: slide5 10s infinite;
}